
  <nav class=" h-12 fixed z-10 w-full" [ngStyle]="ngNav">
    
      <div class="flex justify-between max-w-7xl mx-auto p-2" >
        <p class="fancyText md:text-2xl text-sm cursor-pointer" routerLink="">Movie Home</p>
        <div class="flex space-x-4">
          <button type="button" class="fancyText md:text-lg text-sm cursor-pointer" routerLink="">Home</button>
          <button type="button" class="fancyText md:text-lg text-sm cursor-pointer" routerLink="SeacrhMovies">Search </button>
        </div>      
     </div>

    
  </nav>
  
  <router-outlet></router-outlet>





